@()

@main("Welcome to Play") {
  <h1>Welcome to Play!</h1>

  <script>
    const connect = () => {
      const socket = new WebSocket("ws://localhost:9000/websocket")

      socket.addEventListener('open', event => {
        console.log(new Date().toISOString(), "Connected")
      });

      socket.addEventListener('close', event => {
        console.log(new Date().toISOString(), "Disconnected")
        window.setTimeout(connect, 1000)
      });

      socket.addEventListener('message', event => {
        console.log(new Date().toISOString(), "Incoming message", event)
      });
    }

    connect()
  </script>
}
